body {
	font-family: 'Source Sans Pro', sans-serif;
	height:100vh;
	width: 100%;
	margin: 0;
}

#pageWrapper {
/*	border: solid 3px #000;
	padding: 40px;
	width: 350px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;*/
}

ul {
	list-style: none;
	padding: 10px;
}

li {
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

.navBar {
	box-sizing: border-box;
	height: 80px;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
}

.brand {
	display: flex;
	align-items: center;
	justify-content: center;
}

#brandName {
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-weight: 700;
}

#menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

ion-icon {
	font-size: 45px;
}

.menu-content {
	text-align: center;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
}

.menu-content-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	background-color: #fff;
	border: solid 3px #000;
	padding: 40px;
	width: 350px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.menu {
	margin: 0;
}

.menu li, li>a {
	display: flex;
	align-items: center;
}

.menu li>a>ion-icon, .menu li>ion-icon {
	margin-right: 10px;
}

#header {
	background: url(./images/jesus-kiteque-224069-unsplash.jpg);
	background-position: center bottom;
	background-size: cover;
	min-height: 450px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerWrapper {
	box-sizing: border-box;
	background-color: #FFF;
	width: 400px;
	height: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.headerBanner {
	box-sizing: border-box;
	width: 360px;
	height: 260px;
	border: solid 2px #000;
	padding: 20px;
}

.headerBanner h1 {
	font-size: 4em;
	margin: 0;
}

.headerBanner h3 {
	font-size: 1.8em;
	margin: 0;
}

.teaserWrapper {
	width: 75%;
	margin: 20px auto;
	text-align: center;
}

.hello {
	font-size: 3em;
	margin: 0 0 10px 0;
}

.quote {
	width: 90%;
	margin: 0 auto;
	font-style: italic;
}

.quote h2 {
	margin: 0;
}


@media only screen and (max-device-width : 600px) {

#brandName {
	font-size: 1.4em;
}

#header {
	min-height: 300px;
}

.headerWrapper {
	width: 60%;
	height: 40%;
	padding: 5%;
}

.headerBanner {
	width: 100%;
	height: 100%;
	padding: 10%;
}

.headerBanner h1 {
	font-size: 1.6em;
}

.headerBanner h3 {
	font-size: 1em;
}

.menu-content-wrapper {
	width: 50%;
}

.hello {
	font-size: 2em;
}

.quote {
	width: 100%;
	font-size: 0.7em;
}


}